doctype html
html
  head
    title Employee Management System
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/style.css")
  body
    header
      h1 Employee Management System
      hr

    block content

    footer
      hr
      p © #{new Date().getFullYear()} Employee CRUD App. All rights reserved.
